@model App.Models.ViewModel.PatientViewModel

@{
    var investigationImages = Model.InvestigationImagesList;

    var imageExtensions = new List<string> { "jpg", "jpeg", "png", "gif", "pdf", "docx", "doc" };
}

<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Investigation Images Details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">

                <div id="popup-container" style="display: none;"></div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Blood Sugar :</label>
                    @foreach (var item in investigationImages)
                    {
                        <div class="col-md-1 viewimg">
                            @if (!string.IsNullOrWhiteSpace(item.BloodSugar_img))
                            {
                                var extension = item.BloodSugar_img.Split('.').LastOrDefault();

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.BloodSugar_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.BloodSugar_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.BloodSugar_img" title="@item.BloodSugar_img">
                                }

                            }
                        </div>
                    }

                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">TFT_img:</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.TFT_img))
                        {
                            var extension = item.TFT_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">
                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.TFT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.TFT_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.TFT_img">
                                }
                            </div>
                        }

                    }
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label">USG:</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.USG_img))
                        {
                            var extension = item.USG_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.USG_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.USG_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.USG_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">SONOMMOGRAPHY :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.SONOMMOGRAPHY_img))
                        {
                            var extension = item.SONOMMOGRAPHY_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.SONOMMOGRAPHY_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.SONOMMOGRAPHY_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.SONOMMOGRAPHY_img" >
                                }
                            </div>
                        }

                    }

                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">CECT :</label>
                    @foreach (var item in investigationImages)
                    {

                        if (!string.IsNullOrWhiteSpace(item.CECT_img))
                        {
                            var extension = item.CECT_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.CECT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.CECT_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.CECT_img">
                                }

                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">MRI :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.MRI_img))
                        {
                            var extension = item.MRI_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MRI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MRI_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.MRI_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">FNAC :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.FNAC_img))
                        {
                            var extension = item.FNAC_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.FNAC_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.FNAC_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.FNAC_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Trucut Biopsy :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.TrucutBiopsy_img))
                        {
                            var extension = item.TrucutBiopsy_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.TrucutBiopsy_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.TrucutBiopsy_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.TrucutBiopsy_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Receptor Status :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.ReceptorStatus_img))
                        {
                            var extension = item.ReceptorStatus_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">
                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.ReceptorStatus_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.ReceptorStatus_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.ReceptorStatus_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">MRCP img:</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.MRCP_img))
                        {
                            var extension = item.MRCP_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MRCP_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MRCP_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.MRCP_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">ERCP :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.ERCP_img))
                        {
                            var extension = item.ERCP_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.ERCP_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.ERCP_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.ERCP_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Endoscopy Upper GI :</label>
                    @foreach (var item in investigationImages)
                    {
                        @if (!string.IsNullOrWhiteSpace(item.EndoscopyUpperGI_img))
                        {
                            var extension = item.EndoscopyUpperGI_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">
                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.EndoscopyUpperGI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.EndoscopyUpperGI_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.EndoscopyUpperGI_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Endoscopy Lower GI :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.EndoscopyLowerGI_img))
                        {
                            var extension = item.EndoscopyLowerGI_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.EndoscopyLowerGI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.EndoscopyLowerGI_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.EndoscopyLowerGI_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">PETCT :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.PETCT_img))
                        {
                            var extension = item.PETCT_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.PETCT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.PETCT_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.PETCT_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">TUMOR MARKERS :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.TumorMarkers_img))
                        {
                            var extension = item.TumorMarkers_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.TumorMarkers_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.TumorMarkers_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.TumorMarkers_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">IVP :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.IVP_img))
                        {
                            var extension = item.IVP_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                 @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.IVP_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.IVP_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.IVP_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">MCU + RGU :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.MCU_img))
                        {
                            var extension = item.MCU_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MCU_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.MCU_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.MCU_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Cystoscopy :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.RGU_img))
                        {
                            var extension = item.RGU_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.RGU_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.RGU_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.RGU_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">ABG IMAGE :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.ABG_img))
                        {
                            var extension = item.ABG_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.ABG_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.ABG_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.ABG_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Others :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.OtherO))
                        {
                            var extension = item.OtherO.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.OtherO" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.OtherO" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.OtherO">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">CBC IMG :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.CBC_img))
                        {
                            var extension = item.CBC_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.CBC_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.CBC_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.CBC_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">RFT IMG :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.RFT_img))
                        {
                            var extension = item.RFT_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.RFT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.RFT_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.RFT_img">
                                }
                            </div>
                        }

                    }
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">PT-INR IMG :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.PTINR_img))
                        {
                            var extension = item.PTINR_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.PTINR_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.PTINR_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.PTINR_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">LFT IMG :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.LFT_img))
                        {
                            var extension = item.LFT_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.LFT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.LFT_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }

                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.LFT_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Urine RM :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.UrineRM_img))
                        {
                            var extension = item.UrineRM_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.UrineRM_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a href="~/Images_Data/@item.UrineRM_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                    <img class="imgofview" src="~/Images_Data/@item.UrineRM_img">
                                }
                            </div>
                        }

                    }
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">LIPID PROFILE IMG :</label>
                    @foreach (var item in investigationImages)
                    {

                        @if (!string.IsNullOrWhiteSpace(item.LIPIDPROFILE_img))
                        {
                            var extension = item.LIPIDPROFILE_img.Split('.').LastOrDefault();
                            <div class="col-md-1 viewimg">

                                @if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.LIPIDPROFILE_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 40px; color: red"></i></a>
                                }
                                else if (string.Equals(extension, "docx", StringComparison.OrdinalIgnoreCase) || string.Equals(extension, "doc", StringComparison.OrdinalIgnoreCase))
                                {
                                <a href="~/Images_Data/@item.LIPIDPROFILE_img" target="_blank"><i class="fa-solid fa-file-word" style="font-size: 40px; color: blue"></i></a>
                                }
                                else if (imageExtensions.Contains(extension))
                                {
                                <img class="imgofview" src="~/Images_Data/@item.LIPIDPROFILE_img">
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $('img').click(function () {
        debugger
        var imgSrc = $(this).attr('src');
        var popupImg = $('<img>').attr('src', imgSrc);
        $('#popup-container').html(popupImg).fadeIn();

        popupImg.css({
            'max-width': '80%',
            'max-height': '80%',
            'width': 'auto',
            'height': 'auto'
        });

        var downloadLink = $('<a>').attr('href', imgSrc).attr('download', 'image.jpg').text('Download');
        downloadLink.css({
            'display': 'block',
            'margin-top': '10px',
            'text-align': 'center',
            'text-decoration': 'none',
            'color': '#fff',
            'background-color': '#337ab7',
            'padding': '10px',
            'border-radius': '5px',
            'cursor': 'pointer'
        });
        $('#popup-container').html('').append(popupImg, downloadLink).fadeIn();
    });

    $('#popup-container').click(function () {
        $(this).fadeOut();
    });


</script>




