@model App.Models.ViewModel.PatientViewModel



<form method="post" id="Investigationform">

    <div class="row">
        <div class="form-group col-md-6">
            <input type="hidden" asp-for="InvestigationModel.PatientID" class="form-control" />
            <h4>Day</h4>
            <input asp-for="InvestigationModel.Day" class="form-control" />
            <span asp-validation-for="InvestigationModel.Day" class="text-danger"></span>

        </div>
    </div>

    @* CBC *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">CBC</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>HB</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.HB" class="form-control" placeholder="Enter HB..." />
                <span asp-validation-for="InvestigationModel.HB" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>TLC </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.TLC" class="form-control" placeholder="Enter TLC..." />
                <span asp-validation-for="InvestigationModel.TLC" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>PLT</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.PLT" class="form-control" placeholder="Enter PLT..." />
                <span asp-validation-for="InvestigationModel.PLT" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* RFT *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">RFT</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>S.create</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.SGeat" class="form-control" placeholder="Enter S.create..." />
                <span asp-validation-for="InvestigationModel.SGeat" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>BUN </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.BUN" class="form-control" placeholder="Enter BUN..." />
                <span asp-validation-for="InvestigationModel.BUN" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* BLOOD SUGAR *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">BLOOD SUGAR</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Fasting</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Fasting" class="form-control" placeholder="Enter Fasting..." />
                <span asp-validation-for="InvestigationModel.Fasting" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>PP </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.PP" class="form-control" placeholder="Enter PP..." />
                <span asp-validation-for="InvestigationModel.PP" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Random </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Random" class="form-control" placeholder="Enter Random..." />
                <span asp-validation-for="InvestigationModel.Random" class="text-danger"></span>
            </div>
        </div>
    </div>


    @* LFT *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">LFT</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Total bil</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.TotalBil" class="form-control" placeholder="Enter Total bil..." />
                <span asp-validation-for="InvestigationModel.TotalBil" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Direct bil </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.DirectBil" class="form-control" placeholder="Enter Direct bil..." />
                <span asp-validation-for="InvestigationModel.DirectBil" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Alk Phosphate</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.AlkPhosphate" class="form-control" placeholder="Enter Alk Phosphate..." />
                <span asp-validation-for="InvestigationModel.AlkPhosphate" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>SGOT </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.SGDT" class="form-control" placeholder="Enter SGOT..." />
                <span asp-validation-for="InvestigationModel.SGDT" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>SGPT </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.SGPT" class="form-control" placeholder="Enter SGPT..." />
                <span asp-validation-for="InvestigationModel.SGPT" class="text-danger"></span>
            </div>
        </div>
    </div>


    @* TFT *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">TFT</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>T3</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.T3" class="form-control" placeholder="Enter T3..." />
                <span asp-validation-for="InvestigationModel.T3" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>T4</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.T4" class="form-control" placeholder="Enter T4..." />
                <span asp-validation-for="InvestigationModel.T4" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>TSH</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.TSH" class="form-control" placeholder="Enter TSH..." />
                <span asp-validation-for="InvestigationModel.TSH" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>FT3 </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.FT3" class="form-control" placeholder="Enter FT3..." />
                <span asp-validation-for="InvestigationModel.FT3" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>FT4 </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.FT4" class="form-control" placeholder="Enter FT4..." />
                <span asp-validation-for="InvestigationModel.FT4" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* SERUM ELECTROLYTES *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">SERUM ELECTROLYTES</h3>
        </div>
    </div>

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Sodium</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Sodium" class="form-control" placeholder="Enter Sodium..." />
                <span asp-validation-for="InvestigationModel.Sodium" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Potassium </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Potassium" class="form-control" placeholder="Enter Potassium..." />
                <span asp-validation-for="InvestigationModel.Potassium" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Calcium </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Calcium" class="form-control" placeholder="Enter Calcium..." />
                <span asp-validation-for="InvestigationModel.Calcium" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* PT-INR  *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">PT-INR</h3>
        </div>
    </div>

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>PT</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.PT" class="form-control" placeholder="Enter PT..." />
                <span asp-validation-for="InvestigationModel.PT" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>INR </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.INR" class="form-control" placeholder="Enter INR..." />
                <span asp-validation-for="InvestigationModel.INR" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* LIPID PROFILE *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">LIPID PROFILE</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Cholesterol</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Cholesterol" class="form-control" placeholder="Enter Cholesterol..." />
                <span asp-validation-for="InvestigationModel.Cholesterol" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Triglyceride </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Triglyceride" class="form-control" placeholder="Enter Triglyceride..." />
                <span asp-validation-for="InvestigationModel.Triglyceride" class="text-danger"></span>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>HDL</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.HDL" class="form-control" placeholder="Enter HDL..." />
                <span asp-validation-for="InvestigationModel.HDL" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>LDL </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.LDL" class="form-control" placeholder="Enter LDL..." />
                <span asp-validation-for="InvestigationModel.LDL" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* URINE RM *@
    <div class="row">
        <div class="col-sm-12 mb-12">
            <h3 class="my-3">URINE RM</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Blood</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Blood" class="form-control" placeholder="Enter Blood..." />
                <span asp-validation-for="InvestigationModel.Blood" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Pus Cell </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.PusCell" class="form-control" placeholder="Enter Pus Cell..." />
                <span asp-validation-for="InvestigationModel.PusCell" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Epithelial cell</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.EpithelialCell" class="form-control" placeholder="Enter Epithelial cell..." />
                <span asp-validation-for="InvestigationModel.EpithelialCell" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Crystals </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Crystals" class="form-control" placeholder="Enter Crystals..." />
                <span asp-validation-for="InvestigationModel.Crystals" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Sugar</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Sugar" class="form-control" placeholder="Enter Sugar..." />
                <span asp-validation-for="InvestigationModel.Sugar" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Color </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Color" class="form-control" placeholder="Enter Color..." />
                <span asp-validation-for="InvestigationModel.Color" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>Appearance</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Appearance" class="form-control" placeholder="Enter Appearance..." />
                <span asp-validation-for="InvestigationModel.Appearance" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Albumin </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.Albumin" class="form-control" placeholder="Enter Albumin..." />
                <span asp-validation-for="InvestigationModel.Albumin" class="text-danger"></span>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>ABG</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.ABG" class="form-control" placeholder="Enter ABG..." />
                <span asp-validation-for="InvestigationModel.ABG" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>USG </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.USG" class="form-control" placeholder="Enter USG..." />
                <span asp-validation-for="InvestigationModel.USG" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>SONOMMOGRAPHY </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.SONOMMOGRAPHY" class="form-control" placeholder="Enter SONOMMOGRAPHY..." />
                <span asp-validation-for="InvestigationModel.SONOMMOGRAPHY" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>CECT </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.CECT" class="form-control" placeholder="Enter CECT..." />
                <span asp-validation-for="InvestigationModel.CECT" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>MRI </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.MRI" class="form-control" placeholder="Enter MRI..." />
                <span asp-validation-for="InvestigationModel.MRI" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>FNAC </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.FNAC" class="form-control" placeholder="Enter FNAC..." />
                <span asp-validation-for="InvestigationModel.FNAC" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>TRUCUT BIOPSY </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.TrucutBiopsy" class="form-control" placeholder="Enter TRUCUT BIOPSY..." />
                <span asp-validation-for="InvestigationModel.TrucutBiopsy" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>RECEPTOR STATUS</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.ReceptorStatus" class="form-control" placeholder="Enter Receptor status..." />
                <span asp-validation-for="InvestigationModel.ReceptorStatus" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>MRCP </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.MRCP" class="form-control" placeholder="Enter MRCP..." />
                <span asp-validation-for="InvestigationModel.MRCP" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>ERCP</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.ERCP" class="form-control" placeholder="Enter ERCP..." />
                <span asp-validation-for="InvestigationModel.ERCP" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>ENDOSCOPY - UPPER GI</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.EndoscopyUpperGI" class="form-control" placeholder="Enter Endoscopy - upper GI..." />
                <span asp-validation-for="InvestigationModel.EndoscopyUpperGI" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>ENDOSCOPY - LOWER GI </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.EndoscopyLowerGI" class="form-control" placeholder="Enter Endoscopy - lower GI..." />
                <span asp-validation-for="InvestigationModel.EndoscopyLowerGI" class="text-danger"></span>
            </div>
        </div>

        <div class=" col-6 col-sm-3 mb-2">
            <h4>PET-CT </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.PETCT" class="form-control" placeholder="Enter PET-CT..." />
                <span asp-validation-for="InvestigationModel.PETCT" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>TUMOR MARKERS</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.TumorMarkers" class="form-control" placeholder="Enter Tumor markers..." />
                <span asp-validation-for="InvestigationModel.TumorMarkers" class="text-danger"></span>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mb-2">
            <h4>IVP</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.IVP" class="form-control" placeholder="Enter IVP..." />
                <span asp-validation-for="InvestigationModel.IVP" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class=" col-6 col-sm-3 mb-2">
            <h4>MCU </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.MCU" class="form-control" placeholder="Enter MCU..." />
                <span asp-validation-for="InvestigationModel.MCU" class="text-danger"></span>
            </div>
        </div>
        <div class=" col-6 col-sm-3 mb-2">
            @* <h4>RGU</h4> *@
            <h4>Cystoscopy</h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.RGU" class="form-control" placeholder="Enter Cystoscopy..." />
                <span asp-validation-for="InvestigationModel.RGU" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">

        <div class=" col-6 col-sm-3 mb-2">
            <h4>Others </h4>
        </div>
        <div class="col-md-3 col-6 col-sm-4 mb-2">
            <div class="form-group">
                <input asp-for="InvestigationModel.OtherO" class="form-control" placeholder="Enter Others..." />
                <span asp-validation-for="InvestigationModel.OtherO" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="form-group col-md-4">
        <div class="alert alert-primary" role="alert" id="InvestigationsuccessMessage" style="display: none;"></div>
        <div class="alert alert-warning" role="alert" id="InvestigationerrorMessage" style="display: none;"></div>

        <input type="button" value="Add Investigation" id="AddInvestigationBtn" class="btn btn-primary" />
        <input type="hidden" name="ModelsJson" id="ModelsJson" />
    </div>
</form>
<div class="col-lg-12" id="investigationtable">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Investigation Table</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @*<table class="table primary-table-bordered" id="myTable">*@
                <table id="example5" class="display dataTablesCard white-border table-responsive-xl">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">CBC</th>
                            <th scope="col">RFT</th>
                            <th scope="col">Blood Sugar</th>
                            <th scope="col">LFT</th>
                            <th scope="col">TFT</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>No Data Found...</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/customjs/investigation.js"></script>