@* @model App.Models.ViewModel.PatientViewModel *@

@model App.Models.DtoModel.InvestigationImagesModel


<form asp-action="AddPicture" asp-controller="Patient" method="post" id="AddImageForm" enctype="multipart/form-data">
    <div>
        <input type="hidden" id="viewbegMethod" value="@ViewBag.Method" />
        <input type="hidden" id="viewbegPatientId" value="@ViewBag.PatientId" />
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>Blood sugar img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="BloodSugar_img" class="form-control" multiple/>
                    <span asp-validation-for="BloodSugar_img" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6 col-sm-3 mb-2">
                <h4>TFT img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="TFT_img" class="form-control" multiple />
                    <span asp-validation-for="TFT_img" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>USG img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="USG_img" class="form-control" multiple />
                    <span asp-validation-for="USG_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>Sonomammography img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="SONOMMOGRAPHY_img" class="form-control" multiple />
                    <span asp-validation-for="SONOMMOGRAPHY_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>CECT img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="CECT_img" class="form-control" multiple />
                    <span asp-validation-for="CECT_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>MRI img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="MRI_img" class="form-control" multiple />
                    <span asp-validation-for="MRI_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>FNAC img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="FNAC_img" class="form-control" multiple />
                    <span asp-validation-for="FNAC_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>TRUCUT BIOPSY img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="TrucutBiopsy_img" class="form-control" multiple />
                    <span asp-validation-for="TrucutBiopsy_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>Receptor status img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="ReceptorStatus_img" class="form-control" multiple />
                    <span asp-validation-for="ReceptorStatus_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>MRCP img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="MRCP_img" class="form-control" multiple />
                    <span asp-validation-for="MRCP_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>ERCP img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="ERCP_img" class="form-control" multiple />
                    <span asp-validation-for="ERCP_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>Endoscopy - uper GI img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="EndoscopyUpperGI_img" class="form-control" multiple />
                    <span asp-validation-for="EndoscopyUpperGI_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>Endoscopy - lower GI img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="EndoscopyLowerGI_img" class="form-control" multiple />
                    <span asp-validation-for="EndoscopyLowerGI_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>PET-CT img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="PETCT_img" class="form-control" multiple />
                    <span asp-validation-for="PETCT_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>Tumor markers img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="TumorMarkers_img" class="form-control" multiple />
                    <span asp-validation-for="TumorMarkers_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>IVP img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="IVP_img" class="form-control" multiple />
                    <span asp-validation-for="IVP_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>MCU + RGU IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="MCU_img" class="form-control" multiple />
                    <span asp-validation-for="MCU_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>Cystoscopy</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="RGU_img" class="form-control" multiple />
                    <span asp-validation-for="RGU_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>ABG IMAGE</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="ABG_img" class="form-control" multiple />
                    <span asp-validation-for="ABG_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>Others img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="OtherO" class="form-control" multiple />
                    <span asp-validation-for="OtherO" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>CBC IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="CBC_img" class="form-control" multiple />
                    <span asp-validation-for="CBC_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>RFT IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="RFT_img" class="form-control" multiple />
                    <span asp-validation-for="RFT_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>PT-INR IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="PTINR_img" class="form-control" multiple />
                    <span asp-validation-for="PTINR_img" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 col-sm-3 mb-2">
                <h4>LFT IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="LFT_img" class="form-control" multiple />
                    <span asp-validation-for="LFT_img" class="text-danger"></span>
                </div>
            </div>
        </div>
        
       
        <div class="row">
            <div class="col-6 col-sm-3 mb-2">
                <h4>LIPID PROFILE IMG</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="LIPIDPROFILE_img" class="form-control" multiple />
                    <span asp-validation-for="LIPIDPROFILE_img" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6 col-sm-3 mb-2">
                <h4>Urine rm  Img</h4>
            </div>
            <div class="col-md-3 col-6 col-sm-4 mb-2">
                <div class="form-group">
                    <input asp-for="UrineRM_img" class="form-control" multiple />
                    <span asp-validation-for="UrineRM_img" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="alert alert-primary" role="alert" id="ImageSuccessMessage" style="display: none;"></div>
        <div class="alert alert-warning" role="alert" id="ImageErrorMessage" style="display: none;"></div>
        <input type="submit" value="Save" id="Imagebtn" class="btn btn-primary" />

    </div>
</form>


@* <script src="~/customJs/ImageLoad.js"></script> *@


