
.viewimg {
    border: 1px solid #007a64;
    border-radius: 15px;
    padding: 5px;
    display: inline-flex;
    justify-content: space-around;
    margin-right: 5px;
    height: 75px;
}

.imgofview {
    padding:5px;
}
