
.viewimg {
    /*border: 1px solid #007a64;*/
    border-radius: 15px;
    padding: 8px;
    display: inline-flex;
    justify-content: space-around;
    margin-right: 5px;
    height: 75px;
}

.imgofview {
    padding: 8px;
    border-radius: 13px;
}

.nav-pills li a {
    padding: 10px 12px !important;
    border-right: 2px solid #fff;
}


.hidden {
    display: none; /* or any other display property you desire */
}
.editimg{
    width:50%;
}

@media only screen and (max-width: 567px) {
    .imgofview {
        padding: 17px;
    }
}